@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 9% 98%;

    --foreground: 210 6% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 100% / 0.8;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 0 0% 59%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 59%;

    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* 00B403 */
    --success: 121 100% 35%;
    /* #FF8400 */
    --warning: 31 100% 50%;
    --danger: 359 100% 62%;

    /* #FF8400 */
    --pending: var(--warning);
    --active: 197 100% 50%;
    /* 00B403 */
    --succeeded: 121 100% 35%;
    --executed: 276 100% 67%;
    --defeated: var(--danger);
    --canceled: var(--muted-foreground);

    --radius: 0.5rem;
    --skeleton-bg: 0 0% 15%;
    
    --scrollbar-track: hsl(var(--muted));
    --scrollbar-thumb: hsl(var(--secondary));
    --scrollbar-thumb-hover: hsl(var(--border));
    --scrollbar-width: 8px;
    --scrollbar-height: 8px;

    --card-background: 192 4% 97%;

    --gray-1: 0 0% 90%;
    --card-shadow: 6px 6px 54px 0 rgba(0, 0, 0, 0.15);

  }
  .dark {
    /* #000000 */
    --background: 0 0% 0%;

    /* #FFFFFF */
    --foreground: 0 0% 100%;


    /* #202224 */
    --card: 210 6% 13%;
    --card-foreground: 0 0% 100% / 0.8;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 28%;
    --secondary-foreground: 0 0% 100% / 0.8;
    /* --muted: 0 0% 14.9%; */
    --muted: 240 3.7% 15.9%;

    /* #979797 */
    --muted-foreground: 0 0% 59%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 100% 62%;
    --destructive-foreground: 0 0% 98%;

    /* #979797 */
    --border: 0 0% 59%;

    /* #202224 */
    --input: 210 6% 13%;
    --ring: 0 0% 100% / 0;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* #00B624 */
    --success: 132 100% 36%;
    /* #F3AB00 */
    --warning: 42 100% 48%;
    --danger: 359 100% 62%;

    /* #F3AB00 */
    --pending: var(--warning);
    --active: 197 100% 50%;
    /* #00B624 */
    --succeeded: 132 100% 36%;
    --executed: 276 100% 67%;
    --defeated: var(--danger);
    --canceled: var(--muted-foreground);

    --radius: 0.5rem;
    --skeleton-bg: 0 0% 15%;
    
    --scrollbar-track: hsl(var(--muted));
    --scrollbar-thumb: hsl(var(--secondary));
    --scrollbar-thumb-hover: hsl(var(--border));
    --scrollbar-width: 8px;
    --scrollbar-height: 8px;

    /* #2E2E2E */
    --card-background: 0 0% 18%;

    /* 474747 */
    --gray-1: 0 0% 28%;
    --card-shadow: 6px 6px 54px 0 rgba(0, 0, 0, 0.05);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  ::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
    border-radius: var(--radius);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: var(--radius);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }
  
  .custom-scrollbar {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  }
  
}
