name: Check

on:
  pull_request:

jobs:
  check-workspace:
    name: Check Workspace
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Check build
        run: |
          pnpm install --no-frozen-lockfile
          pnpm build:all

  check-indexer:
    name: Check indexer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Check build
        working-directory: packages/indexer
        run: |
          yarn install
          yarn build

  check-config:
    name: Check Config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Prepare schema
        run: |
          mkdir -p schemas
          cd schemas
          curl -LO https://raw.githubusercontent.com/ringecosystem/degov-registry/refs/heads/main/schemas/dao.schema.json

      - name: validate dao
        uses: GrantBirki/json-yaml-validate@v3
        with:
          json_schema: schemas/dao.schema.json
          yaml_as_json: true
          files: degov.yml
          comment: "true"
